<app-menu></app-menu>
<span class="component-title">{{title}} </span>
<span><a routerLink="/actors/create">
        <img width="20" height="20" src="assets/add-icon.png" title="Add New">
    </a>
</span>

<table class="table table-striped table-bordered table-sm" *ngIf="actors">
    <thead>
        <tr>
            <th><a (click)="sort('id')">ID</a></th>
            <th><a (click)="sort('firstName')">Name</a></th>
            <th><a (click)="sort('gender')">Gender</a></th>
            <th><a (click)="sort('birthDate')">Birth Date</a></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of actors | sort:sortColumn:ascOrder">
            <td>{{a.id}}</td>
            <td>{{a.firstName}} {{a.lastName}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.birthDate}}</td>
            <td><a routerLink="/actors/detail/{{a.id}}"><img src='assets/details.png' width='30' height='30'
                        title='Detail'>
                </a>
                | <a routerLink="/actors/edit/{{a.id}}"><img src='assets/pencil-icon.png' width='30' height='30'
                        title='Edit'>
                </a></td>
        </tr>
    </tbody>
</table>