<app-menu></app-menu>
<span class="component-title">{{title}}</span>
<p *ngIf="!actor">Loading...</p>
<div *ngIf='actor'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input [(ngModel)]="actor.firstName" class="rounded" type="text">
                    <input [(ngModel)]="actor.lastName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Gender:
                </td>
                <td>
                    <input [(ngModel)]="actor.gender" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Birth Date:
                </td>
                <td>
                    <input [(ngModel)]="actor.birthDate" class="rounded" type="date">
                </td>
            </tr>
        </table>
    </main>
    <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
</div>