<app-menu></app-menu>
<span class="component-title">{{title}}</span>
<p *ngIf="!credit">Loading...</p>
<div *ngIf='credit'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    {{credit.id}}
                </td>
            </tr>
            <tr>
                <td>
                    Actor:
                </td>
                <td>
                    <input [(ngModel)]="credit.actor.firstName" class="rounded" type="text" disabled>
                    <input [(ngModel)]="credit.actor.lastName" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Movie:
                </td>
                <td>
                    <input [(ngModel)]="credit.movie.title" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Role:
                </td>
                <td>
                    <input [(ngModel)]="credit.role" class="rounded" type="text" disabled>
                </td>
            </tr>
        </table>
        <button (click)="edit()" class="btn btn-warning">Edit</button>
        <button (click)="delete()" class="btn btn-danger">Delete</button>
    </main>
</div>